@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@700&display=swap');

html {
  font-size: 62.5%;
  font-family: 'Pathway Gothic One', sans-serif;
  background-color: #F8F6F3;
}

.photos {
  width: 500px;
  background-color: #220D00;
  margin: 30px auto;
  position: relative;
  text-align: center;
  opacity: 0.95;
  @media(max-width: 768px) {
    width: 350px;
  }
}

.holes {
  background-image: url(../images/hole.svg);
  width: 32px;
  height: 102%;
  background-size: contain;
  background-repeat-y: repeat;
  position: absolute;
  top: -10px;
  &.--left {
    left: 26px;
  }
  &.--right {
    right: 26px;
  }
  @media(max-width: 768px) {
    width: 25px;
  }
}

.fuji {
  position: relative;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  color: #E0CB6E;
  &::before {
    content: "S-400";
    position: absolute;
    top: 50%;
    left: -10px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "FUJI";
    position: absolute;
    top: 50%;
    right: -5px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    font-size: 12px;
    &::before {
      left: -6px;
    }
    &::after {
      right: 0;
    }
  }
}

.fuji-2 {
  position: relative;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  color: #E0CB6E;
  &::before {
    content: "FUJI";
    position: absolute;
    top: 50%;
    left: -5px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "S-400";
    position: absolute;
    top: 50%;
    right: -10px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    font-size: 12px;
    &::before {
      left: 0;
    }
    &::after {
      right: -6px;
    }
  }
}

.photo {
  width: 360px;
  height: auto;
  margin: 8px auto;
  font-family: 'Bai Jamjuree', sans-serif;
  font-size: 16px;
  color: #E0CB6E;
  position: relative;
  display: inline-block;
  cursor: pointer;
  img {
    width: 100%;
    height: auto;
    opacity: 0.3;
  }
  img:hover {
    opacity: 1;
  }
  @media(max-width: 768px) {
    font-size: 12px;
    width: 230px;
  }
}

.photo--1 {
  padding-top: 16px;
  &::before {
    content: "1";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "1";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--2 {
  &::before {
    content: "2";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "2";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--3 {
  &::before {
    content: "3";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "3";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--4 {
  &::before {
    content: "4";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "4";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--5 {
  &::before {
    content: "5";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "5";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--6 {
  &::before {
    content: "6";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "6";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--7 {
  &::before {
    content: "7";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "7";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--8 {
  &::before {
    content: "8";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "8";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.photo--9 {
  &::before {
    content: "9";
    position: absolute;
    top: 50%;
    left: -60px;
    transform: rotate(-90deg);
  }
  &::after {
    content: "9";
    position: absolute;
    top: 50%;
    right: -60px;
    transform: rotate(-90deg);
  }
  @media(max-width: 768px) {
    &::before {
      left: -50px;
    }
    &::after {
      right: -50px;
    }
  }
}

.credit {
  display: inline-block;
  font-size: 20px;
  margin: 28px 0;
  color: white;
  font-family: 'Nanum Myeongjo', serif;
  cursor: pointer;
  @media(max-width: 768px) {
    font-size: 18px;
    margin: 18px 0;
  }
}

.modal{
  display: none;
  height: 100vh;
  position: fixed;
  top: 0px;
  width: 100%;
  left: 0;
  right: 0;
  z-index: 1;
}

.modal__bg{
  background: rgba(0, 0, 0, 0.95);
  height: 120vh;
  position: absolute;
  width: 100%;
  display: block;
  overflow: hidden;
}

.modal__content{
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  font-family: 'Nanum Myeongjo', serif;
  color: white;
  font-size: 16px;
  flex-flow: column;
  display: flex;
  align-items: center;
  top: 50%;
  bottom: 50%;
  height: 70%;
  box-sizing: border-box;
  justify-content: center;
  width: fit-content;
  img {
    width: auto;
    height: 100%;
    display: block;
    margin-bottom: 32px;
  }
  h1 {
    display: inline-block;
    margin-bottom: 40px;
  }
  a {
    display: block;
    text-decoration: none;
    color: white;
  }
  @media(max-width: 415px) {
    padding: 16px;
    display: inline-block;
    height: fit-content;
    img {
      height: auto;
      width: 100%;
    }
  }
}

.modal__content-credit {
  left: 0;
  right: 0;
  margin: auto;
  position: absolute;
  color: white;
  font-size: 16px;
  color: black;
  line-height: 22px;
  height: fit-content;
  width: 60%;
  background: white;
  padding: 48px;
  .text {
    padding-bottom: 48px;
  }
  h1 {
    color: #8C5454;
    padding: 0px 0px 12px 0;
    margin-bottom: 0;
  }
  .sns {
    margin:0 0 40px;
  }
  a {
    color: #000;
    display: block;
    padding-top: 0;
  }
  @media(max-width: 768px) {
    width: 90%;
  }
}
