@charset "utf-8";
@import 'https://fonts.googleapis.com/css?family=Pathway+Gothic+One';
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@400;700&display=swap');

html {
font-size: 62.5%;
font-family: 'Pathway Gothic One', sans-serif;
background-color: white;
}
