body {
  background-color: var(--background-color);
}

:root {
  --background-color: #163016;
  --film: #382518;
  --text: #fff;
  --mode: #F8F6F3;
  --accent: url(../../images/films/index/accent-light.svg);
  --house: url(../../images/films/house.svg);
}

:root[data-theme-mode='light'] {
  --background-color: #F8F6F3;
  --text: #000;
  --mode: #163016;
  --accent: url(../../images/films/index/accent-dark.svg);
  --house: url(../../images/films/house-light.svg);
}

.links {
  margin: 50px auto;
  text-align: center;
  display: flex;
  width: 120px;
  justify-content: space-between;
  a {
    display: inline-block;
    text-decoration: none;
    color: var(--text);
  }
  @media(max-width: 768px) {
    margin: 25px auto;
  }
}

.house-icon {
  width: 28px;
  background-image: var(--house);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  img {
    width: 100%;
    height: auto;
  }
  @media(max-width: 768px) {
    width: 20px;
  }
}

.border {
  border-right: 1.5px solid var(--text);
}

.insta-icon {
  font-size: 32px;
  @media(max-width: 768px) {
    font-size: 24px;
  }
}

input[type="checkbox"] {
  display: none;
}

.switch {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: var(--mode);
  border-radius: 50%;
}

.switch-label {
  cursor: pointer;
  width: 25px;
  overflow: hidden;
  display: inline-block;
  height: 25px;
  padding: 13px;
}

.switch-mode {
  font-size: 25px;
}

#switch-mode-light {
  display: inline-block;
}

#switch-mode-dark {
  display: inline-block;
  margin-bottom: 15px;
}

html {
  font-size: 62.5%;
  font-family: 'Pathway Gothic One', sans-serif;
}

.films {
  display: flex;
  justify-content: center;
  height: 70vh;
  align-items: center;
  text-align: center;
  margin-left: 27px;
  @media(max-width: 768px) {
    flex-direction: column;
    margin: 0;
    height: 85vh
  }
}

.film {
  width: 140px;
  margin: 0 54px;
  cursor: pointer;
  text-decoration: none;
  color: var(--text);
  position: relative;
  img {
    width: 100%;
    height: auto;
  }
  @media(max-width: 768px) {
    width: 100px;
    margin-bottom: 24px;
    img {
      transform: rotate( 90deg );
    }
  }
  &:hover {
    img {
      transform: rotate( 10deg );
      @media(max-width: 768px) {
        transform: rotate( 80deg );
      }
    }
    &::before {
      content: "";
      background-image: var(--accent);
      position: absolute;
      top: -40px;
      left: -40px;
      width: 70px;
      height: 100px;
      display: inline-block;
      background-size: contain;
      vertical-align: middle;
      background-repeat: no-repeat;
      @media(max-width: 768px) {
        top: -40px;
        left: 80px;
        transform: rotate( 80deg );
        width: 50px;
      }
    }
  }
}

.film--3rd {
  opacity: 0.3;
  pointer-events: none;
}

.title {
  font-family: 'Nanum Myeongjo', serif;
  font-size: 16px;
  margin-top: 16px;
  margin-left: -27px;
  &.title--sp {
    display: none;
  }
  @media(max-width: 768px) {
    margin: 0;
    &.title--pc {
      display: none;
    }
    &.title--sp{
      display: block;
    }
  }
}
